.withdraw_head {
  position: sticky;
  top: 0;
  z-index: 1;
}
.admin_head_username {
  width: 100% !important;
}
.withdraw_funds_btn {
  background: #7a5fc0;
  color: #fff;
  padding: 15px 0px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
.dark .withdraw_funds_btn {
  box-shadow: 0px 3px 10px #23392c;
}
.admin_transact_data_graph_head_sub {
  font-size: 14px;
  font-weight: 400;
}
.admin_transact_data_graph {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.admin_transact_data_graph_head {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding: 0em 4%;
}
.admin_transact_data_graph_body {
  width: 100%;
  padding: 2em 0em;
}
.admin_asset_data_count_head {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding: 0em 0;
  text-align: right;
}
.branch_withdraw_funds_div {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}
.unavailable_btn {
  background: #d4d4d4;
  cursor: not-allowed !important;
}
.dark .unavailable_btn {
  background: #718b7b;
  color: #466252;
}
.asset_detail_modal_cont_headings {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
}
.second_btns {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}
