.dashboard-home {
  flex: 4;
  padding: 4em 2em;
  width: 100vh;
  background: #e7fff0;
  position: relative;
}

.homeprofile-area {
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  position: relative;
}

.dashboard-area1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dashboard-area2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}
.dashboard-area1-cont1 {
  background: #fff;
  width: 66%;
  height: 590px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 25px #c1e3cf;
  position: relative;
  background-size: cover;
  padding: 2em;
}
.dashboard-area1-heading-div {
  padding: 2em 1em;
  background: #e7fff0;
  border-radius: 8px;
}
.dashboard-area1-heading-div-txt {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.dashboard-area1-heading-coin-display {
  display: flex;
  align-items: center;
  padding: 2em;
  font-weight: 700;
  font-size: 18px;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #d7d7d7;
  border-width: 1px;
  padding-bottom: 1em;
}
.coin-display-amount {
  font-weight: 700;
  color: #229e54;
}
.eth-icon {
  width: 35px;
  margin-right: 10 px;
}

.dashboard-area1-heading-supply-withdraw-pages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
  position: relative;
}
.supply-btn {
  border: none;
  background: none;
  border-radius: 8px;
  color: #989898;
  font-weight: 700;
  position: relative;
  font-size: 18px;
}
.supply-btn-active {
  border: none;
  background: none;
  border-radius: 8px;
  color: #229e54;
  font-weight: 700;
  position: relative;
}
.supply-btn-active::after {
  content: "";
  background: #229e54;
  /* width: 50%; */
  height: 4px;
  position: absolute;
  bottom: -9px;
  left: 10%;
  right: 10%;
  border-radius: 100px;
}

.dashboard-area1-heading-supply-withdraw-input {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}

.withdraw-input-section1 {
  display: flex;
  justify-content: space-between;
}
input.withdraw-input-box {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  padding: 1em;
}
input.withdraw-input-box:focus {
  outline: none;
}
input.withdraw-input-box:hover {
  border-width: 1.5px;
  border-color: #229e54;
}

.not-safe-to-withdraw {
  display: none;
}
.withdraw-input-section3 {
  display: flex;
  justify-content: end;
  width: 100%;
}
.percent-increase {
  padding: 0.5em 1em;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 50px;
  border: solid;
  border-width: 1px;
  background: none;
  border-color: #b1b1b1;
  width: 10%;
}
.percent-increase-active {
  padding: 0.5em 1em;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 50px;
  border: solid;
  border-width: 1px;
  background: none;
  border-color: #e4a788;
  background: #e4a788;
  color: #fff;
  width: 10%;
}

.dashboard-area1-heading-supply-withdraw-btn {
  width: 100%;
  padding: 0em 2em;
}
.withdraw-btn {
  width: 100%;
  padding: 1em 2em;
  background: #229e54;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-top: 30px;
}

.not-withdraw-btn {
  display: none;
}

.dashboard-area1-cont2 {
  width: 33%;
  height: 477px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #c1e3cf;
  position: relative;
  overflow-y: scroll;
}

.dashboard-area1-cont2::-webkit-scrollbar {
  display: none;
}
/* ============================= */
/* ============================= */
/* ============================= */
/* dashboard second container start */

.dash-area1-cont2-header {
  display: flex;
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
  background: #ccffe0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.dash-area1-cont2-header1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
  font-weight: 700;
}

.dash-area1-cont2-titles {
  padding: 1em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #229e54;
  font-weight: 700;
}
.title1 {
  display: flex;
  justify-content: flex-start;
  width: 35%;
}
.title2 {
  display: flex;
  justify-content: flex-start;
  width: 35%;
}
.title3 {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.dash-area1-cont2-titles2 {
  padding: 1em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #343434;
  font-weight: 700;
  background: #eefff5;
}
.dash-area1-cont2-titles3 {
  padding: 1em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #343434;
  font-weight: 700;
}
/* dashboard second container end */
/* ================ */
/* ================ */
/* ================ */
/* ================ */
.dashboard-area1-cont3 {
  width: 48%;
  height: 255px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #c1e3cf;
  position: relative;
  overflow-y: scroll;
  position: relative;
}
.dashboard-area1-cont3::-webkit-scrollbar {
  display: none;
}
.dash-area1-cont2-header2 {
  display: flex;
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
  background: #ccffe0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
