.sidebar {
  /* flex: 1; */
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  overflow-x: hidden;
  width: 15%;
  transition: 0.5s linear;
  z-index: 10;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.open-icon {
  margin-right: 20px;
  width: 25px;
  display: inline-block;
}

.sidebarWrapper {
  color: #555;
  width: 100%;
  transition: 0.5s linear;
  /* padding: 1em; */
  padding-top: 8em;
  height: 100%;
  position: relative;
}

.sidebarMenu {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebarList {
  width: 100%;
  padding: 0%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  align-items: center;
  position: relative;
  margin-bottom: 89%;
}
a.link {
  width: 100%;
  color: #a3a3a3;
}

a.link:hover {
  color: #229e54;
}

.sidebarListItem {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 1em;
}

.social_icons {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  padding: 0;
}

.social_icon {
  font-size: 32px !important;
  background: #e7fff0;
  color: #239e54;
  padding: 6px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #b4dfc5;
}
.ma {
  background: #e7fff0;
  padding: 6px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #b4dfc5;
}
.am {
  width: 20px;
}
.icons_layer_1 {
  display: flex;
  justify-content: space-evenly;
}
.not-sidebar {
  width: 15%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s linear;
  z-index: 10;
}

.not-sidebarWrapper {
  color: #555;
  width: 100%;
  transition: 0.5s linear;
  /* padding: 1em; */
  padding-top: 8em;
  height: 100%;
  position: relative;
}
.list-item-active {
  position: relative;
  color: #229e54;
  background: #f3fef7;
}

.a {
  width: 30px;
}
.list-item-active::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #229e54;
  position: absolute;
  left: 0;
}
.sidebarIcon {
  font-size: 27px !important;
  margin-right: 15px;
}
.drop-open-icon {
  margin-right: 20px;
  width: 25px;
  display: none;
}
.not-drop-close-icon {
  margin-right: 20px;
  width: 25px;
  display: none;
}
.not-drop-open-icon {
  margin-right: 20px;
  width: 25px;
  display: none;
}
.drop-close-icon {
  margin-right: 20px;
  width: 25px;
  display: none;
}
/* .list-item-active::after {
  content: "";
  width: 106px;
  height: 20px;
  background: #222;
  position: absolute;
  bottom: -33px;
  right: -14px;
  border-top-right-radius: 25px;
  z-index: 5;
} */
/* .nav-item_link {
  display: flex;
  position: relative;
  text-decoration: none;
  position: relative;
}
.nav-item_linkWrapper {
  width: 100%;
  outline: none;
  border: 0;
}

.nav-item_spacer {
  height: 10px;
  border-radius: 30px 0 0 30px;
  opacity: 0;
}

.nav-item_spacerInner {
  height: 10px;
  border-radius: 0 0 10px 0;
}

.nav-item_linkBody {
  cursor: pointer;
  height: 60px;
  border-radius: 30px 0 0 30px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item_text {
  position: absolute;
  font-size: 16px;
  color: #ed1b6c;
  left: calc(100% + 22px);
  font-weight: 500;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}

.nav-item_spacer {
  height: 10px;
  border-radius: 30px 0 0 30px;
  opacity: 0;
}
.nav-item_spacerInner {
  height: 10px;
  border-radius: 0 0 10px 0;
} */

@media screen and (max-width: 1220px) {
  .sidebar {
    width: 3.5%;
  }
  .sidebar:hover {
    width: 20%;
  }
  .not-sidebar {
    width: 3.5%;
  }
  .not-sidebar:hover {
    width: 20%;
  }
}

@media screen and (max-width: 1080px) {
  .sidebar {
    width: 20%;
  }

  .not-sidebar {
    width: 0%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s linear;
    z-index: 10;
  }

  .sidebarWrapper {
    color: #555;
    width: 100%;
    transition: 0.5s linear;
    /* padding: 1em; */
    padding-top: 8em;
    height: 100%;
    position: relative;
  }
  .not-sidebarWrapper {
    display: none;
    color: #555;
    width: 100%;
    transition: 0.5s linear;
    /* padding: 1em; */
    padding-top: 8em;
    height: 100%;
    position: relative;
  }

  .drop-open-icon {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
  }
  .not-drop-open-icon {
    margin-right: 20px;
    width: 25px;
    display: none;
  }
  .drop-close-icon {
    margin-right: 20px;
    width: 25px;
    display: inline-block;
  }
  .not-drop-close-icon {
    margin-right: 20px;
    width: 25px;
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .drop-close-icon {
    width: 20px;
  }
  .egr-logo3 {
    width: 100px;
  }
  .DashBoardHeaderSection {
    padding: 1em 0em;
  }
  .dash-area1-cont2-titles {
    display: none;
  }
  .dash-area1-cont2-titles {
    display: none;
  }

  .sidebar {
    width: 30%;
  }
  .sidebar:hover {
    width: 30%;
  }
  /* .not-sidebar:hover {
    width: 20%;
  } */
  .not-sidebar {
    width: 0%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s linear;
    z-index: 10;
  }
}
@media screen and (max-width: 400px) {
  .dashboard-area1-cont1 {
    padding: 0em 1em;
    padding-top: 1em;
  }

  .sidebar {
    width: 55%;
  }

  .sidebar:hover {
    width: 55%;
  }
  ¸ .not-sidebar {
    width: 0%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s linear;
    z-index: 10;
  }

  .dashboard-area1-heading-supply-withdraw-input {
    padding: 0em;
  }

  .dash-area1-cont2-titles {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .dashboard-area1-cont1 {
    padding: 0em 1em;
    padding-top: 1em;
  }
}
