.pool_detail_assets_body_layer_1 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.pool_detail_assets_body_layer_1_cont1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  background: #fff;
  padding: 1.5em;
  border: solid 1px #ebebeb;
  border-radius: 10px;
}
.pool_detail_assets_body_layer_1_cont2 {
  width: 100%;
}
.pool_detail_assets_body_layer_1_cont1_heading {
  display: flex;
  justify-content: space-between;
}
.pool_detail_assets_body_layer_1_cont1_heading_1 {
  font-weight: 700;
}
.pool_detail_assets_body_layer_1_cont1_sub_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pool_detail_assets_body_layer_1_cont1_sub_heading_1 {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pool_detail_assets_body_layer_1_cont1_sub_heading_1b {
  font-size: 12px;
  color: #8f8f8f;
}
.recharts-wrapper {
  width: 100% !important;
}
svg.recharts-surface {
  width: 100% !important;
}
