.sidebar {
  /* flex: 1; */
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  overflow-x: hidden;
  width: 15%;
  transition: 0.5s linear;
  z-index: 10;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebarWrapper {
  color: #555;
  width: 100%;
  transition: 0.5s linear;
  /* padding: 1em; */
  padding-top: 8em;
  height: 100%;
  position: relative;
}

.sidebarMenu {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebarList {
  width: 100%;
  padding: 0%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  align-items: center;
  position: relative;
}
a.link {
  width: 100%;
  color: #a3a3a3;
}

a.link:hover {
  color: #229e54;
}

.sidebarListItem {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 1em;
}
.list-item-active {
  position: relative;
  color: #229e54;
  background: #f3fef7;
}
.list-item-active::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #229e54;
  position: absolute;
  left: 0;
}
.sidebarIcon {
  font-size: 27px !important;
  margin-right: 15px;
}

/* .list-item-active::after {
  content: "";
  width: 106px;
  height: 20px;
  background: #222;
  position: absolute;
  bottom: -33px;
  right: -14px;
  border-top-right-radius: 25px;
  z-index: 5;
} */
.nav-item_link__yU0Vp {
  display: flex;
  position: relative;
  text-decoration: none;
  position: relative;
}
.nav-item_linkWrapper__1IVev {
  width: 100%;
  outline: none;
  border: 0;
}

.nav-item_spacer__3_Yzq {
  height: 10px;
  border-radius: 30px 0 0 30px;
  opacity: 0;
}

.nav-item_spacerInner__HJWlk {
  height: 10px;
  border-radius: 0 0 10px 0;
}

.nav-item_linkBody__2ilRo {
  cursor: pointer;
  height: 60px;
  border-radius: 30px 0 0 30px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item_text__1Kr9k {
  position: absolute;
  font-size: 16px;
  color: #ed1b6c;
  left: calc(100% + 22px);
  font-weight: 500;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}

.nav-item_spacer__3_Yzq {
  height: 10px;
  border-radius: 30px 0 0 30px;
  opacity: 0;
}
.nav-item_spacerInner__HJWlk {
  height: 10px;
  border-radius: 0 0 10px 0;
}

@media screen and (max-width: 1220px) {
  .sidebar {
    width: 4.5%;
  }
}
@media screen and (max-width: 1080px) {
  .sidebar {
    width: 20%;
    display: none;
  }


}
