.userdAshboard_head {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  padding: 1em;
  background: #fff;
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.userdAshboard_head_area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.witdraw_funds_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.witdraw_funds_div_btn {
  background: #7a5fc0;
  box-shadow: 0px 0px 5px #000000;
  color: #fff;
  padding: 20px 0px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
.witdraw_funds_div_txt {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: normal;
}
.witdraw_funds_div_txt_para {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 600;
}
.welcome_bonus_div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
}
.welcome_bonus_div_body {
  font-size: 45px;
  font-weight: 600;
}
.welcome_bonus_div_head {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}
.welcome_bonus_icon_div {
  padding: 3px;
  background: #c6c5dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_bonus_icon_div_icon {
  background: white;
  padding: 2px;
  font-size: 15px !important;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #7c7a9c;
  color: #7a5fc0;
}
.wallet_addr_cont_txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
}
.wallet_addr_cont {
  display: flex;
  align-items: center;
  gap: 5px;
}

.connected_txt {
  font-size: 14px;
  color: #a4a4a4;
}
.metamask_prof_pic {
  filter: drop-shadow(2px 2px 5px #b8b8b8);
  color: #b8b8b8;
}
.user_dashboard_area {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 2em;
}
/* .user_details_body1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.user_details_body1 {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: space-between;
}

.user_details_body1_body_cont_area1 {
  padding: 2em;
  background: #fff;
  border: solid 1px #e1e1e1;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.user_details_body1_body_cont_area2 {
  width: 100%;
  background: #fff;
  padding: 2em;
  border: solid 1px #e1e1e1;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.userdAshboard_head_username {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em;
  /* width: 100%; */
}
.userdAshboard_head_username_head {
  font-size: 18px;
  font-weight: 600;
}
.user_details_body1_body_cont1 {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c2c2c2;
  font-weight: 300;
}
.user_details_body1_body_cont1_span2 {
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user_details_body1_body_cont1_span2_span {
  font-size: 11px;
  color: #787690;
}

.user_details_body1_body_cont1_last_layer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
}

.user_details_body1_body_cont1_layer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_details_body1_body_cont1_head {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_details_body1_body_cont1_head1 {
  color: #9bbca8;
}
.user_details_body1_body_cont1_head2 {
  font-size: 18px;
}
.user_details_body1_body_cont_area2_body {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px #bcbcbc;
  border-radius: 50%;
  height: 230px;
  font-size: 32px;
  font-weight: 600;
}
.recent_transaction_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1em;
  border: solid 1px #ffffff;
  border-radius: 6px;
}
.list_body_head2 {
  position: sticky;
  top: 0px;
  background: white;
  font-weight: 600;
  z-index: 1;
}
.seemore_btn_div {
  display: flex;
  justify-content: center;
}

.see_more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  padding: 0.5em 0em;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  background: #7a5fc0;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 5px 10px #88c7a1;
}
.redeem_btn {
  padding: 15px 0px;
  border-radius: 10px;
  border: none;
  background: #7a5fc0;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 5px 15px #7cb994;
}
.user_details_div_head {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.user_details_area {
  display: grid;
  gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: flex-start;
}
.user_details_area_div1 {
  flex-direction: column;
  display: flex;
}
.user_details_area_div1_head {
  color: #787690;
  margin-bottom: 5px;
}
.user_details_area_div1_input {
  padding: 15px;
  border-radius: 10px;
  background: #0d0c14;
  border: solid 1px #262538;
  color: #bfbfbf;
}
.user_details_area_btn_div {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_details_area_btn {
  padding: 15px;
  width: 100%;
  max-width: 200px;
  border-radius: 13px;
  background: #7a5fc0;
  color: #fff;
  font-weight: 500;
  border: none;
}
.user_details_body1_body_cont1_span1._img {
  width: 25px;
  margin-right: 5px;
  height: 25px;
  object-fit: cover;
}
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
.userDetails_div {
  padding: 2em;
  background: #151422;
  border: solid 1px #262538;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
.pool_detail_heading_area2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0px;
}

.reward_txt {
  font-size: 14px;
  font-weight: 600;
  color: #9f9f9f;
}
.reward_countdown_div {
  font-size: 20px;
}
.reward_btn_div {
  width: 200px;
}
.reward_btn {
  width: 100%;
  padding: 0.5em 0em;
  border-radius: 6px;
  border: none;
  background: #7a5fc0;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 10px 10px #cdeeda;
}
.reward_btn:disabled {
  background: #c6c6c6;
  cursor: not-allowed;
  box-shadow: 0px 10px 10px #d4d4d4;
  color: #878787;
}
.reward_amount_title {
  font-size: 14px;
  font-weight: 600;
}
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
.BuyerSellerDiv {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 1px #262538;
  padding: 1em;
}
.BuyerSellerDiv_tabs {
  display: flex;
  align-items: center;
  padding: 1em;
  background: #151422;
  border-radius: 10px;
  margin-bottom: 1em;
}
.BuyerSellerDiv_tab1_active {
  padding: 10px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 8em;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background: #7a5fc0;
}
.BuyerSellerDiv_body {
  background: #151422;
  padding: 2em;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.BuyerSellerDiv_body_header {
  font-size: 28px;
  font-weight: 500;
  color: #787690;
}
.BuyerSellerDiv_body_Balance {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 2em;
  border-top: solid 1px #262538;
  border-bottom: solid 1px #262538;
  padding-bottom: 1em;
  padding-top: 1em;
}
.BuyerSellerDiv_body_Balance_body1 {
  font-size: 40px;
  font-weight: 500;
}
.BuyerSellerDiv_body_Balance_body2 {
  color: #787690;
}
.BuyerSellerDiv_body_Balance_body {
  display: flex;
  flex-direction: column;
  margin-top: 1e;
}
.BuyerSellerDiv_tab1 {
  padding: 10px;
  color: #65637a;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 8em;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background: #28263e;
}
.BuyerSellerDiv_body_div1_text {
  font-size: 24px;
  margin-bottom: 11px;
  font-weight: 600;
}
.BuyerSellerDiv_body_div2 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: #1c1b2c;
  border-radius: 11px;
}
.filter_table_area_2b {
  width: 38% !important;
}
.BuyerSellerDiv_body_div2_tab_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #13121f;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #1f1e2e;
}
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
@media screen and (max-width: 991px) {
  .user_details_body1 {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .user_dashboard_area {
    margin-top: 0em;
  }
  .userdAshboard_head {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  .welcome_bonus_div {
    align-items: flex-start;
  }
  .userdAshboard_head_username {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    padding: 0em;
  }
  .hr_vertical {
    border-bottom: solid 1px #efefef;
    width: 100%;
  }
  .dark .hr_vertical {
    border-bottom: solid 1px #4a6857;
  }
}
@media screen and (max-width: 600px) {
  .user_details_body1 {
    flex-direction: column;
    gap: 10px;
  }
  .user_details_body1_body_cont_area1 {
    padding: 1em;
  }
}
@media screen and (max-width: 419px) {
  .asset_detail_heading_user {
    flex-direction: column;
    justify-content: space-between;
  }
  .pool_detail_heading_area2 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
