.Trade{
    display:flex;
}



.Trade2{
    padding:10px 20px;
    flex:4;
        /* background-color: #eff7ff; */
            background-color: #f6fff9;
             position: relative;
}
.space{
    margin-right: 15px;
}
.Market{
        color: #9598a4;
        
}
.star{
    padding: 15px 10px;
}
.Trade4{
    max-width: 600px;
    margin: 50px auto 30px auto;
     background-color: #fff;
     padding:40px ;
     border-radius: 10px;
         box-shadow: 1px 1px 8px 0px #0000ff40;
}
.send1{
    font-weight:bold;
    color:#000;
    font-size: 25px;
    margin-bottom: 10px;
}
.send2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.send3{
    font-weight: bold;
    font-size: 20px;
    color:#000;
}
 .send4{
     width: 50%; 
} 
.send5{
    display:flex;
    justify-content: space-between;
}
.send6{
    display:flex;
    justify-content: start;
    align-items: center;
}
.send7{
    width:60px;
}
.send8{
    border:none;
    outline:none;
    width:40px;
    font-size: 18px;
     background-color:#c4fbdb;
     color:#000;
     font-weight: bold;
}
.For{
    background-color:#c4fbdb;
    padding:20px 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.For1{
    display:flex;
    margin-bottom: 20px;
}
.Enable{
    text-align: center;
    margin-bottom: 10px;
    
}
.Enable1{
    padding:20px 10px;
    margin:auto;
border-radius: 10px;
    background-color:#229e54;
text-align: center;
font-size: 24px;
color:#fff;
font-weight: bold;
margin-bottom: 20px;
cursor:pointer;
}

.Enable1:hover{
  background-color: 
  #39d97a ; 
  color:#000;
}
.Enable2{
    font-weight: bold;
    font-size: 22px;
    display:flex;
    justify-content: right;
    margin-bottom: 20px;
}
.Enable3{
    width:auto;
    background-color:#c4fbdb;
    border-radius: 10px;
    padding:10px 30px;
    box-sizing: border-box;
}
.deep{
    cursor:pointer;
}
.Enable4{
    font-size: 20px;
    color:#000;
    font-weight: bold;
    margin-bottom: 20px;
}
.ada{
    padding:12px 10px;
    border:1px solid grey;
    border-radius: 50px;
    width:60px;
    text-align: center;
    background-color: #fff;
}

.ada:hover{
    background-color: #229e54; 
    color:#fff;
}
.ada1{
    
    background-color: #229e54;
    color:#fff;
}
.Enable5{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.Gas{
    font-weight: bold;
    margin-bottom: 20px;
}
.Gas1{
   display:flex; 
   justify-content: space-between;
   margin-bottom: 15px;
}
.Gas2{
    width:150px;
    padding:10px;
    border:1px solid grey;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
}

.Gas2:hover{
    background-color: #229e54;
    color:#fff;
}

.Gas3{
    
    background-color: #229e54;
    color:#fff;
    
}
.rece{
    margin-bottom: 10px;
}
#COMES{
    display:none;
}
 






@media (max-width:460px){
    .Gas2{
        display:flex;
        flex-direction: column;
        padding:0;
        width: 80px;
    }
    .ada{
        font-size: 12px;
        width:46px;
    }
    .Enable{
        font-size: 14px;
    }
    .Enable4{
        font-size: 14px;
    }
}

@media (min-width:461px)  and (max-width:767px){
    .ada{
        width:50px;
        box-sizing: border-box;
    }
    .Gas2{
        width:110px;
    }
    .Enable4{
        font-size: 16px;
    }
}




@media (max-width:767px){
   .send1{
       font-size: 14px;
   }
   .Trade4{
       width:100%;
        padding:25px 15px;
    }

    .Trade2{
        padding:10px 5px;
        font-size: 14px;
    }
    .Enable2{
        font-size: 14px;
    }

    .send7{
        width:40px;
    }
    .send4{
        width:78%;
    }
    .For{
        padding:20px 14px;
    }
    .Enable1{
        font-size: 20px;
    }
    .rete{
        font-size:14px 
    }
    .Enable3{
        padding:10px 10px;
    }
}

@media (min-width:768px){
.Trade4{
     max-width: 600px;
    margin: 50px auto 30px auto;
}
.rete{
    font-size:24px
}
}
