.dashboardMarketPlaceHeader {
  position: fixed;
  width: 100%;
  top: 6.3em;
  z-index: 1000;
  background: #0f0e1c !important;
  padding: 1em 0em;
}
.dashboardMarketPlaceHeader_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboardMarketPlaceHeader_div1 {
  width: 45%;
  margin-right: 2em;
  position: relative;
}
.dashboardMarketPlaceContainer {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* position: relative; */
}
.dashboardMarketPlaceHeader_div1_search_input {
  width: 100%;
  padding: 12px;
  border: solid 1px #262538;
  background: #1c1b2a;
  color: #fff;
  border-radius: 10px;
  padding-left: 41px;
}
.dashboardMarketPlaceHeader_div1_search_input::placeholder {
  font-size: 14px;
  color: #636179;
}
.dashboardMarketPlaceHeader_div1_search_input_icon {
  position: absolute;
  left: 3%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  font-size: 18px !important;
}
.dashboardMarketPlaceHeader_div2_categories {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  color: #fff;
}
.dashboardMarketPlaceHeader_div2_categories_cont1 {
  font-size: 14px;
  font-weight: 400;
  margin-right: 2em;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboardMarketPlaceHeader_div2_categories_cont1:hover {
  background: #292339;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.dashboardMarketPlaceBody {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}
.dashboardMarketPlaceBody1 {
  display: flex;
  flex-direction: column;
}
.dashboardMarketPlaceBody1_cont1 {
  width: 100%;
}
.dashboardMarketPlaceBody1_cont1_img {
  width: 100%;
  border-radius: 15px;
  height: 25em;
  object-fit: cover;
}
.dashboardMarketPlaceBody1_cont2 {
  padding: 2em;
  background: #151422;
  margin-top: 2em;
  color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: solid 1px #2d2c41;
  box-shadow: 0px 10px 10px #000;
}
.dashboardMarketPlaceBody1_cont2_head {
  font-size: 28px;
  color: #787690;
}
.dashboardMarketPlaceBody1_cont2_body {
  margin-top: 1em;
  align-items: center;
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: flex-start;
}
.dashboardMarketPlaceBody1_cont2_body_img {
  width: 100%;
  background: #0d0c14;
  padding: 20px;
  height: 5em;
  border-radius: 10px;
  border: solid 1px #2d2c41;
  box-shadow: 0px 5px 10px #0d0c14;
}

.dashboardMarketPlaceBody2_div1 {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.dashboardMarketPlaceBody2_div1_head {
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardMarketPlaceBody2_div1_head_span {
  font-size: 15px;
  border: solid 1px #2d2c41;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #1a1929;
}
/* .dashboardMarketPlaceBody2_div1_body {
  display: flex;
  align-items: center;
} */
.product_carousel .react-multi-carousel-track {
  padding: 2em 0em;
}
.product_carousel .react-multiple-carousel__arrow--left {
  left: 0;
}
.product_carousel .react-multiple-carousel__arrow--right {
  right: 0;
}
.dark .product_carousel .react-multiple-carousel__arrow {
  background: rgb(122 95 192 / 63%) !important;
  border: solid 1px #7c7a98 !important;
}
.dark .dashboardMarketPlaceBody1_cont1 .react-multiple-carousel__arrow {
  background: rgb(0 0 0 / 82%) !important;
  border: solid 1px #000000 !important;
}
.dashboardMarketPlaceBody2_div1_body_card {
  width: 95%;
  display: flex;
  flex-direction: column;
  background: #151422;
  margin: auto;
  border: solid 1px #2d2c41;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  height: 100%;
  position: relative;
}
.prodState_div {
  position: absolute;
  right: 3%;
  top: 1%;
  padding: 2px 0px;
  background: #7a5fc0;
  width: 45px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_txHash_span_img {
  width: 25px;
  background: #1a1929;
  border-radius: 50%;
  padding: 3px;
  overflow: inherit;
  height: 25px;
  margin-right: 4px;
}
canvas.blockies_icon2 {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin-right: 5px;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_txHash_span {
  display: flex;
  align-items: center;
}
.dashboardMarketPlaceBody2_div1_body_card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 20px #000;
  transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.dashboardMarketPlaceBody2_div1_body_card_img_div {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1929;
}
.dashboardMarketPlaceBody2_div1_body_card_img {
  width: 75%;
  margin: auto;
}

.dashboardMarketPlaceBody2_div1_body_card_body {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1em;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_title {
  font-size: 20px;
  color: #787690;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboardMarketPlaceBody2_div1_body_card_body_cont1_amount {
  font-size: 18px;
  font-weight: 600;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_txHash {
  font-size: 14px;
  color: #787690;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_btn_div {
  width: 100%;
  margin-top: 1em;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #7a5fc0;
  color: #fff;
}
.dashboardMarketPlaceBody2_div1_body_card_body_cont1_amount_span {
  font-weight: 400;
  font-size: 12px;
  color: #787690;
}
.dashboardMarketPlaceBody3 {
  display: flex;
  align-items: center;
  gap: 25px;
}
.dashboardMarketPlaceBody3_cont1 {
  width: 100%;
}
.dashboardMarketPlaceBody3_cont1_img {
  width: 100%;
}
.dashboardMarketPlaceHeader_div2_categories_icon {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .dashboardMarketPlaceHeader_div2_categories {
    display: none;
  }
  .dashboardMarketPlaceHeader_div2_categories_icon {
    display: block !important;
    font-size: 38px !important;
    color: #a7a5c5;
    background: #0d0c14;
    border: solid 1px #312e52;
    border-radius: 8px;
    padding: 3px;
  }
  .dashboardMarketPlaceHeader_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .dashboardMarketPlaceHeader_div1 {
    width: 45%;
    margin-left: 2em;
    margin-right: 0em;
    position: relative;
  }
  .dashboardMarketPlaceBody1_cont2_body {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .dashboardMarketPlaceBody3 {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .dashboardMarketPlaceBody1_cont2 {
    padding: 1em;
    margin-top: 1em;
  }
  .dashboardMarketPlaceBody1_cont2_head {
    font-size: 21px;
  }
  .dashboardMarketPlaceHeader_div1 {
    width: 75%;
    margin-left: 2em;
    margin-right: 0em;
    position: relative;
  }
  .dashboardMarketPlaceBody1_cont1_img {
    height: 15em;
  }
  .dashboardMarketPlaceBody1_cont2_body_img {
    width: 100%;
    padding: 6px 24px;
    height: 2em;
    border-radius: 6px;
  }
  .dashboardMarketPlaceBody2_div1_head {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .dashboardMarketPlaceBody1_cont2_body {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
  }
  .dashboardMarketPlaceBody3 {
    gap: 5px;
  }
  .dashboardMarketPlaceBody2_div1_body_card_body_cont1_title {
    font-size: 16px;
  }
  .dashboardMarketPlaceBody2_div1_body_card_body_cont1_amount {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .dashboardMarketPlaceBody2_div1_body_card_body_cont1_btn {
    padding: 7px;
    font-size: 14px;
  }
  .dashboardMarketPlaceBody2_div1_body_card_body {
    padding: 0.5em;
  }
  .dashboardMarketPlaceBody2_div1_body_card_img {
    width: 65%;
  }
  .dashboardMarketPlaceBody2_div1_head_span {
    font-size: 13px;
    width: 110px;
  }
  .product_carousel .react-multi-carousel-track {
    padding: 0em 0em;
  }
  .dashboardMarketPlaceBody2_div1 {
    margin-bottom: 2em;
  }
  .dashboardMarketPlaceBody2_div1_body_card {
    width: 98%;
  }
}
